@media (min-width:1000px)
      .responsive{
      	display: inline-block
      	width: 400px
      	border:1 px solid black;
      }
body{ 
background: green;
color:white;
}

@media (min-width:750px)
		.responsive{
      	display: inline-block
      	width: 400px 
      }
body{ 
background: black;
color:white;
a{
	color:gray;
}

a:hover{
	color:black;
	background:white;
	
}
.greenlink:hover{
	color:green;
	background:gray;
}
h1{
	font-family: monospace;
	font-size: 50pt;
}
.indent{
	margin-left:10px;
}
,gap_below{
	margin-bottom:25px;
}
